<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>N1 DevOps</title>
</head>
<body>
  <h1>Bem-vindo à avaliação N1 DevOps</h1>
  <p>Grupo: João Pedro Bastos, João Vitor Correa, Luiz Bolina e Mateus Stangherlin</p>

  <hr>

  <h2>Enviar nome:</h2>
  <form action="/Nomes" method="POST">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required />
    <button type="submit">Enviar</button>
  </form>
</body>
</html>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N1 DevOps</title>
</head>
<body>
    <h1>Bem vindo a avaliação N1 DevOps</h1>
    <p>Grupo: João Pedro Bastos, João Vitor Correa, Luiz Bolina e Mateus Stangherlin</p>
</body>
</html> 

